body {
  font-family: Arial;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  color: #9a1281;
}

ul {
  list-style-type: none;
}
.instructions li {
  border: 1px solid #8bc34a;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}