body {
  font-family: Arial;
  background-color: #f4f4f4;
  color: #333;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.navigation {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: white;
}