.green {
    width: 200px;
    background-color: green;
    margin: 50px;
    padding: 50px;
}

.red {
    /* der margin vom oberen Element und von diesem Element wird zusammengeführt*/
    margin: 50px;
    width: 200px;
    background-color: red;
    height: 250px;
    /*  shorthand for border-width, border-style, and border-color */
    border: 2px dotted black;
}